body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color:black;

  width: 100%;
  height: 100vh;
  margin: 0 ;
  position: relative;
}

body::before{
  content:"";
  background-image: url("./trump.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: absolute;
  top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}

.main-page{

}
/* .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.quote{
  justify-content: center;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -60%);
text-align: center;
color:white;
font-size: 4rem;
}

.button{
  justify-content: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, 800%);
text-align: center;
background-color: red;
}

.button:hover {
  background-color: #FF3131 ;
}

@media (max-width:640px){
  .quote{
    font-size: 2rem;
  }
}
